main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    flex: 1;
    flex-wrap: wrap;
}

.login__principal{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em;
}

h2{
    font-size: 2em;
    font-weight:bolder;
    color: #000000;
}

.login__texto{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.login__aviso a{
    text-decoration: none;
    color:#0095FF;
}

.login__input{
    width: 25em;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 12px 15px;
    font-family: var(--fonte-principal);

}

.login__botao{
    color: var(--branco);
    background: var(--preto);
    border: none;
    border-radius: 10px;
    padding: 0.4em 3em;
    width: 10em;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 
      5px 0 0 0 var(--verde),
      10px 0 0 0 var(--azul),
      15px 0 0 0 var(--amarelo),
      20px 0 0 0 var(--vermelho);
}

.login__imagem{
    background-color: var(--preto);
    padding: 15em;
    border-radius: 15px;
    margin-top: 5em;
}