<main>
  <div class="login__principal">
    <h2>Fazer login</h2>
    <div>
      <p class="login__texto">Nome de usuário ou e-mail</p>
      <input type="email" class="login__input">
    </div>
    <div>
      <p class="login__texto">Senha</p>
      <input type="text" class="login__input">
    </div>
  
    <button class="login__botao" routerLink="cadastro">Entrar</button>
  
    <p class="login__aviso">Não tem uma conta? <a routerLink="cadastro">Inscreva-se gratuitamente</a></p>
  
  </div>

  <div class="login__imagem">
    <img src="/starlog/src/assets/Logo.svg" alt="Logo Starlog">
  </div>
</main><div class="login__principal">

