<main>
  <div class="cadastro__principal">
    <h2>Fazer cadastro</h2>
    <div>
      <p class="cadastro__texto">E-mail</p>
      <input type="email" class="cadastro__input">
    </div>
    <div>
      <p class="cadastro__texto">Nome de usuário</p>
      <input type="text" class="cadastro__input">
    </div>
    <div>
      <p class="cadastro__texto">Senha</p>
      <input type="email" class="cadastro__input">
    </div>
    <div>
      <p class="cadastro__texto">Confirme a sua senha</p>
      <input type="text" class="cadastro__input">
    </div>
  
    <button class="cadastro__botao" routerLink="cadastro">Inscreva-se</button>
  
    <p class="cadastro__aviso">Tem uma conta? <a routerLink="cadastro"> Faça login.</a></p>
  
  </div>

  <div class="cadastro__imagem">
    <img src="/starlog/src/assets/Logo.svg" alt="Logo Starlog">
  </div>
</main><div class="cadastro__principal">


